# ---------------------------------
# BACKEND - Java / Maven / Gradle
# ---------------------------------

# Compiled class files
*.class

*.war
*.ear

# JDK / build system folders
/bin/
/build/
/target/
/out/

# VS Code config
.vscode/

# Logs
*.log

# OS / temporary files
*.tmp
*.swp
*~
.DS_Store

# ---------------------------------
# FRONTEND - React + Vite
# ---------------------------------

# Node dependencies
node_modules/

# Build output
dist/

# Environment files
.env
.env.local
.env.*.local

# Vite cache
.vite/

# Temporary / Editor files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
